<html>

<head>
    <title>Project 3 | Course Info</title>
    <link href="style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>

<body>
    <div class="input-container">
        <div class="nav-bar">
            <div id="arrow-back">
                <a href="/home">
                    <img src="arrow_back.png" alt="Back Arrow">
                </a>
            </div>
            <p class="nav-text">Back to Home Page</p>
        </div>
    </div>
    <div class="info-header">
        ITPG-GT 2379 004 Bioprinting & Biofabrication for Artists & Design
    </div>
    <div class="info-body">
        “Biofabrication has existed as a concept for a very long time to refer to technologies for fabricating living
        tissue constructs, with the aim of creating entire solid organs. But only within the past fifteen years have
        scientists and engineers created machine platforms suited to repeatable results that bring them closer to their
        goals, bringing into existence 3D bioprinters with a wide array of strategies and materials. Some of this
        development was made possible by scientists modifying, manipulating, or reverse engineering open-source 3D
        printers and RepRaps to create the equipment they needed. (Technology that many at ITP may already have
        familiarity with.) The initial machine-assisted fabrication stage is often only the starting point for much
        longer research studies in tissue engineering and regenerative medicine, involving the translations of form,
        chemistry, cell-types, and biomaterials and other interventions that make it possible for scientists to
        collaborate with cells and living systems to produce living matter. Sometimes (often!) the fabricated structures
        contain no cells themselves: they are a biomaterial scaffold, or similar forms that are more about making the
        conditions right for the next stage of the experiment. And this leads to a compelling opportunity for artists
        and designers. The creative problem solving that scientists, engineers, clinicians, and biomaterials experts go
        through to find their route to living cells and tissues parallels how artists, designers, engineers, and
        architects produce their work. While not every student at ITP intends to become a bioengineer, many are
        interested in biological systems, biomaterials and bioplastics, mycelium forming, and bio-inspired design. This
        course draws on a selection of open-source bioprinting & biofabrication processes (that are closely tied with 3D
        printing technology) to introduce students to this pioneering technology with attention to how artists and
        designers might also repurpose these approaches for working with their own target materials and objectives,
        intervening with these technologies.”
    </div>
    <div class="footer">
        <p>© 2025 Yilin Wang. All rights reserved.</p>
    </div>
</body>

</html>